// padding
$mobile-padding: 0 20px;

// color
$represent-color: white;
$color-light-gray: rgb(187, 185, 185);
$color-heavy-gray: rgb(173, 173, 173);
$color-button: #FF6677;
$fonr-color-button: white;

// font
$font-large: 24px;
$font-small: 14px;
$font-weight-huge: 700;
$font-weight-medium: normal;

// radius
$border-radious: 10px;

//height
$button-medium-height: 40px;